<div class="text-center">
  <h2>{{name}}</h2>
  <br>
  <p>{{description}}</p>
  <br>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <button class="btn btn-primary">COMMENT</button>
  </p>
</div>